<div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="/img/<%= imgBig %>" alt="">
      </figure>
    </div>
    <div class="card-content card-static">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="/img/<%= imgThumb %>" alt="">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= proName %></p>
          <p class="subtitle is-6">
            <a href="https://<%= proUrl %>" target="_blank" rel="noopener">
              <%= proUrl %>
            </a>
          </p>
        </div>
      </div>
  
      <div class="content">
        <%= proDesc %>
      </div>
    </div>
</div>