<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Page Info -->
<% if(typeof title !== 'undefined') { %>
  <title><%= title %></title>
  <meta property="og:title" content="<%= title %>">
<% } else { %>
  <title><%= siteName %></title>
  <meta property="og:title" content="<%= siteName %>">
<% } %>

<% if(typeof description !== 'undefined') { %>
  <meta name="description" content="<%= description %>">
<% } %>

<% if(typeof canonical !== 'undefined') { %>
  <link rel="canonical" href="<%= siteUrl %><%= canonical %>">
  <meta property="og:url" content="<%= siteUrl %><%= canonical %>">
<% } %>

<% if(typeof image !== 'undefined') { %>
  <meta property="og:image" content="<%= image %>">
<% } else { %>
  <meta property="og:image" content="<%= siteUrl %>/ogdefault.png">
<% } %> 
<meta property="og:type" content="website">

<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#252f5a">
<!-- icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!-- stylesheets -->
<link rel="stylesheet" href="/css/bulma.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.0.2/dist/bulma-tooltip.min.css">
