<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head', {
		title: siteName,
		description: 'The porfolio for Matthieu-Jean.',
		canonical: '',
	})-%>
</head>
<body>
    <%- include('./partials/nav')-%>
    <%- include('./partials/hero', {
		heroTitle: 'Projects',
		heroSubtitle: 'Projects i\'ve worked on.',
	})-%>
	<div class="columns">
		<div class="column">
			<%- include('./partials/card', {
				proName: 'StatsNite',
				proUrl: 'statsnite.com',
				proDesc: 'A stats and info tracker for various games.' +
				'This project uses official and unofficial game apis to get game info such as items' +
				' and stores them in mongodb to cache data and avoid rate limits.' +
				'Using express and ejs users can access the game data on the website.',
				imgThumb: 'statsniteThumb.png',
				imgBig: 'statsniteBig.png',
			})-%>
		</div>
		<div class="column">
		  Second column
		</div>
		<div class="column">
		  Third column
		</div>
	</div>
    <%- include('./partials/footer')-%>
</body>

</html>