<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('./partials/head', {
		title: siteName,
		description: 'The porfolio for Matthieu-Jean.',
		canonical: '',
	})-%>
</head>
<body>
	<%- include('./partials/nav')-%>
	<section class="hero is-medium is-primary is-bold">
		<div class="hero-body">
		  <div class="container">
			<h1 class="title">
				Matthieu-Jean Habbouche
			</h1>
			<h2 class="subtitle">
			  	My Portfolio
			</h2>
		  </div>
		</div>
	  </section>
    <%- include('./partials/hero', {
		heroTitle: 'Projects',
		heroSubtitle: 'Some Projects i\'ve worked on.',
	})-%>
	<div class="columns ml-3 mr-3">
		<div class="column">
			<%- include('./partials/card', {
				proName: 'StatsNite',
				proUrl: 'statsnite.com',
				proDesc: 'A stats and info tracker for various games.' +
				'This project uses official and unofficial game apis to get game info such as items' +
				' and stores them in mongodb to cache data and avoid rate limits.' +
				'Using express and ejs users can access the game data on the website.',
				imgThumb: 'statsniteThumb.png',
				imgBig: 'statsniteBig.png',
			})-%>
		</div>
		<div class="column">
			<%- include('./partials/card', {
				proName: 'JumpGame',
				proUrl: 'github.com/zNeb/WinFormsPlatformer',
				proDesc: 'A stats and info tracker for various games.' +
				'This project uses official and unofficial game apis to get game info such as items' +
				' and stores them in mongodb to cache data and avoid rate limits.' +
				'Using express and ejs users can access the game data on the website.',
				imgThumb: 'jumpgameThumb.png',
				imgBig: 'jumpgameBig.png',
			})-%>
		</div>
		<div class="column">
			<%- include('./partials/card', {
				proName: 'Node Tradebot TF2',
				proUrl: 'github.com/zNeb/node-tradebot-tf2',
				proDesc: 'Node tradebot changed to tf2.',
				imgThumb: 'nodetradebotThumb.png',
				imgBig: 'nodetradebotBig.png',
			})-%>
		</div>
	</div>
    <%- include('./partials/hero', {
		heroTitle: 'Technologies',
		heroSubtitle: 'Technologies i\'ve used.',
	})-%>
	<div class="tile is-ancestor ml-3 mr-3">
		<div class="tile is-parent">
			<article class="tile is-child notification is-success">
			<div class="content">
				<p class="title">Libraries</p>
				<p class="subtitle">Libraries i've used with node</p>
				<div class="content">
					<div class="tech-grid ml-3 mr-3">
							<%- include('./partials/img', {
								img: '/img/mongodb.png',
								tooltip: 'MonoDB Native Driver'
							})-%>
							<%- include('./partials/img', {
								img: '/img/express.png',
								tooltip: 'Express.js'
							})-%>
							<%- include('./partials/img', {
								img: '/img/ejs.png',
								tooltip: 'Embedded Javascript'
							})-%>
							<%- include('./partials/img', {
								img: '/img/react.png',
								tooltip: 'React.js'
							})-%>
							<%- include('./partials/img', {
								img: '/img/bcrypt.png',
								tooltip: 'Bcrypt'
							})-%>
					</div>
				</div>
			</div>
			</article>
		</div>
		<div class="tile is-parent">
			<article class="tile is-child notification is-success">
			<div class="content">
				<p class="title">Languages</p>
				<p class="subtitle">Programming Languages i've used</p>
				<div class="content">
					<div class="tech-grid ml-3 mr-3">
						<%- include('./partials/img', {
							img: '/img/js.png',
							tooltip: 'Javascript'
						})-%>
						<%- include('./partials/img', {
							img: '/img/csharp.png',
							tooltip: 'C#'
						})-%>
						<%- include('./partials/img', {
							img: '/img/cplus.png',
							tooltip: 'C++'
						})-%>
						<%- include('./partials/img', {
							img: '/img/vb.png',
							tooltip: 'Visual Basic'
						})-%>
					</div>
				</div>
			</div>
			</article>
		</div>
		<div class="tile is-parent">
			<article class="tile is-child notification is-success">
			<div class="content">
				<p class="title">Server</p>
				<p class="subtitle">Server technologies i've learned</p>
				<div class="content">
					<div class="tech-grid ml-3 mr-3">
						<%- include('./partials/img', {
							img: '/img/aws.png',
							tooltip: 'Amazon Web Services'
						})-%>
						<%- include('./partials/img', {
							img: '/img/gcp.png',
							tooltip: 'Google Cloud Platform'
						})-%>
						<%- include('./partials/img', {
							img: '/img/ubuntu.png',
							tooltip: 'Ubuntu Server'
						})-%>
						<%- include('./partials/img', {
							img: '/img/nginx.png',
							tooltip: 'Nginx Reverse Proxy'
						})-%>
					</div>
				</div>
			</div>
			</article>
		</div>
	</div>
	<%- include('./partials/hero', {
		heroTitle: 'Contact',
		heroSubtitle: 'Contact Me.',
	})-%>
	<div class="tile is-parent">
		<article class="tile is-child notification is-success">
		<div class="content">
			<p class="title">Email</p>
			<div class="content">
				<a href="mailto:habbouche.matthieu@gmail.com">
					habbouche.matthieu@gmail.com
				</a>
				</div>
			</div>
		</div>
		</article>
	</div>
	<%- include('./partials/footer')-%>
</body>

</html>